@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: whitesmoke;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}

.heading {
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter 4s steps(40);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* css for the modal */
.animation-zoomIn {
  animation-name: zoomIn;
  animation-duration: 0.7s
}
.animation-zoomOut {
  animation-name: zoomOut;
  animation-duration: 0.7s
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
@keyframes zoomOut {
  from {
    trnasform: scale(1)
  }
  to{
    transform: scale(0)
  }
}
