@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: whitesmoke;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}

.heading {
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter 4s steps(40);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* css for the modal */
.animation-zoomIn {
  animation-name: zoomIn;
  animation-duration: 0.7s;
}
.animation-zoomOut {
  animation-name: zoomOut;
  animation-duration: 0.7s;
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
@keyframes zoomOut {
  from {
    trnasform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

/* Pagination container */
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* Pagination item */
.pagination-item {
  display: inline-block;
  margin: 0 5px;
  padding: 2px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
  border: 1px solid black;
}

/* Active pagination item */
.pagination-item.active {
  background-color: #007bff;
  color: #fff;
  border: none;
}

/* Previous and Next buttons */
.pagination-previous-next {
  display: inline-block;
  margin: 0 5px;
  padding: 3px 12px;
  background-color: #f0f0f0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
  border: 1px solid black;
}

/* Disabled previous and next buttons */
.pagination-previous-next.disabled {
  background-color: #cccbcb;
  cursor: not-allowed;
  border: none;
}

.PhoneInputInput {
  padding: 0.5rem;
  outline: none;
}

.css-control {
  .css-13cymwt-control {
    background-color: transparent;
  }
}
